.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.post1 {
  display:flex;
}


.pic1 {
  width: 24px;
}

.post2 {
  display: grid;
  grid-template-columns: repeat(2, 400px);
}

id {
  display: flex;
}

.post3 {
  display: grid
}