.App {
  text-align: center;
}

.Header {
  display: flex;
  position: relative;
  justify-content: space-between
}

.seach-text {
  background-color: #4949b1;
  padding: 25px 570px 25px 0;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pic1 {
  width:18px;
}

.pic2 {
  width:18px;
}

.pic3 {
  width:18px;
}